*{
    box-sizing: border-box;
}
.oculto{
    display: none;
}
.article{
    width: 66%;
    /*width: calc(100% * 2/3);*/
    padding: 1rem;
    display: inline-block;
}

.aside{
    width: 33%;
    /*width: calc(100% * 1/3);*/
    padding: 1rem;
    display: inline-block;
}

.imagen{
    width: 400px;
    float: left;
    padding-right: 1rem;
}