*{
    box-sizing: border-box;
}

.ancho40 {
    width: 50%;
    border: solid 0.01rem black;
}

.article{
    width: 66%;
    width: calc(100% * 2/3);
    float: left;
    padding: 1rem;
}

.aside{
    width: 33%;
    width: calc(100% * 1/3);
    float: left;
    padding: 1rem;
}
.flotar {
    float: left;
}

.ancho100 {
    width: 100%;
    clear: both;
}

.final {
    height: 10rem;
}

.pie {
    border-top: gray 0.05rem solid;
    position: fixed;
    bottom: 5px;
    background-color: papayawhip;
}

footer address, footer p{
    font-size: 0.7rem;
}

footer address{
    text-align: center;
    padding: 0.5rem;
}

