.container {
    margin-left: 3rem;
}
.contenido {
    color: maroon;
}
/* Máxima especificidad 
#t1{
    font-size: 1rem;
}
*/
/* Especificidad intermedia*/
.grande {
    font-size: 5rem;
}
.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*Mínima especificidad*/
.color {
    color: brown;
    border: 2px solid black;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}
img {
    width: 200px;
}